.container #txt-msg{
	max-width: 100%;
	min-height: 300px;
}
.container #btn-send{
	width: 131px;
}
@-webkit-keyframes opt {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes opt {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.inform-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 8px 0;	 
	text-align: center;
	z-index: 100;
	-webkit-animation: opt 5s 1; 
	animation: opt 5s 1; 
}